.headerText{
    color: #090F49;
    font-family: 'sans-serif';
    font-size: 27px;
}

#yourBlock {
    border-bottom: 1px solid #000;
    /* width: fit-content; */
  }
  #yourBlock::before {
    content: "";
  }
  #yourBlock::after {
    position: relative;
    content: "";
    display: block;
    border-bottom: 1px solid #000;
    top: 4px;
  }


  .box {
    display: inline-block; /* add this line */
    width: fit-content;
    border-bottom: 2px solid red;
    padding-bottom: 3px;
    text-align: center;
  }
  
  span {
    border-bottom: 2px solid blue;
    color:'#090F49' !important ;
  }